
html,
body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #B0CCAB;
  padding: 50px;
  margin: 50px;
  position: relative;
  height: 200px;
}

.main p{
    padding: 0 30px 0 30px;
}

.main__paragraph {
    left: 100px;
    position: absolute;
}
  